@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;
  --primary: #e6267b;
  --secondary: #0B003D;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/* Navbar */
.navbar-link {
  @apply px-4 py-2 rounded-lg font-bold text-black text-sm;
}

.navbar-link:hover {
  @apply text-primary;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navbar-link-active {
  @apply bg-primary text-white;
  transition: all 0.2s ease;
}

.navbar-link-active:hover {
  @apply text-white;
}
